# PyCharm
.idea/

# VS Code
.vscode/

# Docker Dev Deployment
docker-compose.dev.yml
Dockerfile.base
Dockerfile.dev

# Python virtualenv environment folders
env/
env3/
.env/

# Bot local files
*.log
*.db
/data

# Config file
config.yaml

# Python
__pycache__/
